$sidebar-width: 300px;

// Viewport width that the sidebar is shown by default
$show-sidebar-width: 840px;

// Minimum size of buttons on small screens
$min-touch-size: 26px;

// Maximum width of the <main> element
$main-max-width: 70rem;

// Maximum width to allow on "paragraph-like" text
$paragraph-max-width: 40rem;
